@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-white text-neutral-900 font-sans;
  }
}

@layer components {
  .hero-gradient {
    background: linear-gradient(
      119deg,
      rgba(55, 120, 49, 1) 12%,
      rgba(236, 248, 252, 0) 72%
    );
  }

  .card-shadow {
    box-shadow: 0px 24px 24px -16px rgba(15, 15, 15, 0.2);
  }

  .text-gradient {
    background: linear-gradient(
      -90deg,
      rgba(255, 255, 255, 1) 36%,
      rgba(255, 255, 255, 1) 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
}
